<!DOCTYPE html>
<html>
<head>
  <title>DoctorRails</title>
  <%= stylesheet_link_tag    "doctor_rails/application", :media => "all" %>
  <%= javascript_include_tag "doctor_rails/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
